doctype html
html(lang='en', ng-app='day-trader')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Day Trader
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body(ng-controller="master")
    .container
      .row
        .col-xs-6
          h1 Day Trader
        .col-xs-6
          h1 {{user.balance  | currency}}
      .row
        .col-xs-6
          .form-group
            label(for="name") Name
            input.form-control#name(type="text" placeholder="bob" ng-model="user.name")
        .col-xs-6
          .form-group
            label(for="symbol") Symbol
            input.form-control#symbol(type="text" placeholder="AAPL" ng-model="stock.symbol")
      .row
        .col-xs-6
          .form-group
            label(for="balance") Balance
            input.form-control#balance(type="number" ng-model="user.balance")
        .col-xs-3
          .form-group
            label(for="numShares") Number of Shares
            input.form-control#numShares(type="number" ng-model="stock.shares")
        .col-xs-3
          .form-group
            label(for="pickPort") Pick Portfolio
            select#pickPort.form-control(ng-model="stock.portfolio")
              option(value="technology") Technology
              option(value="medical") Medical
              option(value="realestate") Real Estate
      .row
        .col-xs-6
          .form-group
            button.btn.btn-success.form-control(ng-click="saveUser()") Save
        .col-xs-6
          .form-group
            button.btn.btn-danger.form-control(ng-click="buyStock()") Buy Now!
    .container
      .row
        .col-xs-12.col-md-4
          h2 Technology
          h3 Portfolio Total: {{portTotal('technology') | currency}}
          table.table.table-striped
            thead
              th Symbol
              th Position
              th Qty:
              th Sell
            tbody
              tr(ng-repeat="stock in technology")
                td {{stock.symbol}}
                td {{stock.price * stock.shares | currency}}
                td {{stock.shares}}
                td: button.btn.btn-danger.btn-sm(ng-click="sellStock(stock,'technology')") Sell All
        .col-xs-12.col-md-4
          h2 Medical
          h3 Portfolio Total: {{portTotal('medical') | currency}}
          table.table.table-striped
            thead
              th Symbol
              th Position
              th Qty:
              th Sell
            tbody
              tr(ng-repeat="stock in medical")
                td {{stock.symbol}}
                td {{stock.price * stock.shares | currency}}
                td {{stock.shares}}
                td: button.btn.btn-danger.btn-sm(ng-click="sellStock(stock,'medical')") Sell All
        .col-xs-12.col-md-4
          h2 Real Estate
          h3 Portfolio Total: {{portTotal('realestate') | currency}}
          table.table.table-striped
            thead
              th Symbol
              th Position
              th Qty:
              th Sell
            tbody
              tr(ng-repeat="stock in realestate")
                td {{stock.symbol}}
                td {{stock.price * stock.shares | currency}}
                td {{stock.shares}}
                td: button.btn.btn-danger.btn-sm(ng-click="sellStock(stock,'realestate')") Sell All
      
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/firebase/firebase.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angularfire/dist/angularfire.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
